PORT=3000
PUBLIC_BASE_URL=
APP_TOKEN=
PRINTER_NAME=
LABEL_WIDTH=2in
LABEL_HEIGHT=1in
DATABASE_PATH=./data/orders.json
WEBHOOK_EVENTS_PATH=./data/webhook-events.json
LABEL_OUTPUT_DIR=./data/labels
TIKTOK_WEBHOOK_SECRET=
AUTO_PRINT=true
